
@{
    Layout = null;   //Burs Arama Sayfası
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>BURSUM MOBIL |Türkiye'nin Burs Platformu </title>
    <!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--BUNLAR ICON EKLEMEK İÇİN KÜTÜPHANELER-->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->
   
    <link href="~/css/bootstrap-social.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="~/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/reset.css">
</head>
    <body>
        <header>
            <div class="logo">
                <img src="~/images/scholarship.png" alt="">
            </div>
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><a href="bursverenler.html">Burs Verenler</a></li>
                <li><a href="bursarama.html">Burs Ara</a></li>
                <li><a href="">Etkinlikler</a></li>

            </ul>
            <button type="button" onClick="location.href='uyeol.html'">Üye Ol</button>

            <button type="button" onClick="location.href='girisyap.html'">Giriş Yap</button>

        </header>


























































        <div class="yenigenel">

            <div class="burs verenler">
                <div class="baslık">
                    <h2></h2>

                </div>
            </div>
            <hr>

            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Alanya Alaaddin Keykubat Üniversitesi</strong>
                            <hr>
                            <div class="mb-1 text-muted"></div>
                            <p class="card-text mb-auto">Üniversitemiz bünyesinde Yüksek Lisans yapacak öğrencilerimiz için son başvuru 22.06.2020</p>
                            <div class="col p-1">
                                <a href="#" class=" stretched-link  btn-sm btn btn-primary ">Başvuru</a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg width="160" height="225"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <image href="~/images/alku-logo.png" height="100%" width="100%" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Akdeniz Üniversitesi</strong>
                            <hr>
                            <div class="mb-1 text-muted"></div>
                            <p class="mb-auto">Üniversitemizin mühendislik bölümlerinde öğretim gören ihtiyaç sahibi 50 öğrenciye 1 dönemlik burs imkanı.</p>
                            <div class="col p-1">
                                <a href="#" class=" stretched-link  btn-sm btn btn-primary ">Başvuru</a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg width="160" height="225"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <image href="~/images/akdeniz.png" height="100%" width="100%" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Bilgisayar Mühendisleri Odası</strong>
                            <hr>
                            <div class="mb-1 text-success"></div>
                            <p class="mb-auto">Bilişim Teknolojileri ve bölümümüzün ilgili üniversite bölümlerini okuyan 30 kişiye 6 ay burs.</p>

                            <div class="col p-1">
                                <a href="#" class=" stretched-link  btn-sm btn btn-primary ">Başvuru</a>
                            </div>

                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg width="160" height="225"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <image href="~/images/bmoLogoı.png" height="100%" width="100%" />
                            </svg>
                        </div>
                    </div>
                </div>

            </div>


        </div>





































        <div class="footer">
            <!--Footer_container-->
            <div class="footer_container">
                <!--kutu-->
                <div id="kutu">
                    <b>Sayfalar</b>
                    <ul>
                        <li><a href="index.html">Ana Sayfa</a></li>
                        <li><a href="">Hakkımızda</a></li>
                        <li><a href="">Çalışmalarımız</a></li>
                        <li><a href="">Referanslarımız</a></li>
                        <li><a href="">İletişim</a></li>

                    </ul>
                </div>
                <!--kutu###-->
                <!--kutu-->
                <div id="kutu" style="margin-left:150px;">
                    <b>İletişim</b>
                    <ul>
                        <li>İrem Köprek/İsmail Sava</li>
                        <li>C: 0 534 914 28 24</li>
                        <li>T: 0 324 481 48 01</li>
                        <li>M: iremkoprek<span class="userTag"><span class="userTag">@@gmail.com</span></span></li>
                        <li>M: ismailsava<span class="userTag"><span class="userTag">@@gmail.com</span></span></li>
                    </ul>
                </div>
                <!--kutu###-->
                <!--kutu-->

                <div class="sosyal">
                    <h2>Bizi Takip Edin</h2>
                    <a class="btn btn-social-icon btn-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a class="btn btn-social-icon btn-instagram">
                        <span class="fa fa-instagram"></span>
                    </a>
                    <a class="btn btn-social-icon btn-github">
                        <span class="fa fa-github"></span>
                    </a>
                    <a class="btn btn-social-icon btn-facebook">
                        <span class="fa fa-facebook"></span>
                    </a>


                </div>


                <!--kutu###-->
            </div>
            <!--Footer_container###-->
        </div>


    </body>