
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="genel">
    <div class="slider">
         
        <!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
        <div id="wowslider-container1">
            <div class="ws_images">
                <ul>
                    <li><img src="~/data1/images/books768125.jpg" alt="" title="" id="wows1_0" /></li>
                    <li><img src="~/data1/images/bookscupofcoffeedesklaptop373892.jpg" alt="" title="" id="wows1_1" /></li>
                    <li><img src="~/data1/images/booksoldbookknowledgebookstore34592.jpg" alt="" title="" id="wows1_2" /></li>
                    <li><img src="~/data1/images/peoplecoffeemeetingteam7096.jpg" alt="" title="" id="wows1_3" /></li>
                    <li><a href="http://wowslider.net"><img src="~/data1/images/pileofassortedtitlebooklotselectivefocusphotographt1130980.jpg" alt="jquery image slider" title="" id="wows1_4" /></a></li>
                    <li><img src="~/data1/images/threepersonssittingonthestairstalkingwitheachother1438072.jpg" alt="" title="" id="wows1_5" /></li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title=""><span><img src="~/data1/tooltips/books768125.jpg" alt="" />1</span></a>
                    <a href="#" title=""><span><img src="~/data1/tooltips/bookscupofcoffeedesklaptop373892.jpg" alt="" />2</span></a>
                    <a href="#" title=""><span><img src="~/data1/tooltips/booksoldbookknowledgebookstore34592.jpg" alt="" />3</span></a>
                    <a href="#" title=""><span><img src="~/data1/tooltips/peoplecoffeemeetingteam7096.jpg" alt="" />4</span></a>
                    <a href="#" title=""><span><img src="~/data1/tooltips/pileofassortedtitlebooklotselectivefocusphotographt1130980.jpg" alt="" />5</span></a>
                    <a href="#" title=""><span><img src="~/data1/tooltips/threepersonssittingonthestairstalkingwitheachother1438072.jpg" alt="" />6</span></a>
                </div>
            </div><div class="ws_script" style="position:absolute"><a href="http://wowslider.net">css slider</a> by WOWSlider.com v9.0m</div>
            <div class="ws_shadow"></div>
        </div>
        <script type="text/javascript" src="js/wowslider.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <!-- End WOWSlider.com BODY section -->



    </div>

    <div class="adımlar">
        <div class="adım">
            <img src="~/images//al.png" alt="">
            <h2>Üye Ol</h2>
            <p>Üye ol ve kişisel bilgiler alanını eksiksiz doldur.</p>

        </div>
        <div class="adım">
            <img src="~/images/al2.png" alt="">
            <h2>Burs Ara ve Başvur</h2>
            <p>Profiline gir ve "Burs Ara" sayfasından sana uygun olan bursları incelemeye başla.</p>

        </div>
        <div class="adım">
            <img src="~/images/al3.png" alt="">
            <h2>Başvurunun Onayını Bekle</h2>
            <p>Destekçinin onay vermesini bekle, istersen başka burslara.</p>

        </div>
        <div class="adım">
            <img src="~/images//al4.png" alt="">
            <h2>Banka Bilgilerini Gir ve Bursu Kap</h2>
            <p>Değerlendirmen olumlu sonuçlandığında,bursunu almak için banka bilgilerini girmen yeterli.</p>

        </div>
    </div>

    <div class="ogrenciler">
        <div class="film">

            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Burs Alanlar</h2>
            <img src="~/images/irem.png" width="300" alt="">
            <h2>İrem Köprek</h2>
            <p>"Şartlarıma uygun bursu araştırmak zorunda kalmadan bursum mobil sayesinde buldum.Tüm öğrencilere hitap ediyor mutlaka siteyi ziyaret etmeliler."</p>


        </div>
        <div class="film">
            <h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
            <img src="~/images/bu.jpg" width="300" alt="">
            <h2>İsmail Sava</h2>
            <p>"Burs bulmamın bu kadar kolay olacağını düşünemezdim.Siteyi iyi ki keşfettim, herkese öneririm."</p>

        </div>

    </div>

</div>

